* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #F8F6F6;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
ul,
li {
  text-align: center;
}
button,
input {
  outline: none;
}
.btn-style {
  text-align: center;
  background: #33CA97;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
.input-style {
  display: block;
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
a {
  color: #000;
}
.personhome {
  width: 65%;
  margin-left: 265px;
  padding: 20px 20px;
}
.personhome-msg,
.personhome-collection,
.personhome-order {
  background: #fff;
  margin-bottom: 30px;
}
.personhome-msg {
  height: 120px;
  padding: 20px 30px;
}
.head {
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  margin-top: 20px;
}
.head:hover .head-mask {
  opacity: 1;
}
.head-img {
  width: 80px;
  border-radius: 50%;
}
.head-mask {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  opacity: 0;
  border-radius: 50%;
}
.head-mask a {
  font-size: 14px;
  font-family: '幼圆';
  color: #fff;
  line-height: 80px;
}
.personhome-name,
.personhome-addr {
  height: 110px;
  line-height: 110px;
  font-size: 18px;
}
.personhome-name {
  margin-left: 120px;
  float: left;
}
.personhome-name a:hover {
  color: #33CA97;
}
.personhome-addr {
  font-size: 20px;
  margin-right: 20px;
  float: right;
}
.personhome-addr a {
  font-family: '黑体';
}
.personhome-addr a span {
  font-size: 20px;
}
.personhome-addr a:hover {
  color: #33CA97;
}
.order-top,
.collection-top {
  height: 50px;
  border-bottom: 1px solid #D5D5D5;
}
.order-top div,
.collection-top div {
  height: 50px;
  line-height: 50px;
}
.personhome-order-title,
.personhome-collection-title {
  float: left;
  margin-left: 20px;
}
.personhome-order-look,
.personhome-collection-look {
  float: right;
  margin-right: 20px;
}
.personhome-order-look a:hover,
.personhome-collection-look a:hover {
  color: #33CA97;
}
.order-box {
  padding: 20px 30px;
}
.order-box img {
  width: 80px;
  height: 60px;
  vertical-align: middle;
}
.order-box ul > li {
  height: 100px;
}
.order-box ul > li ul > li:not(.order-box-pay) {
  float: left;
  height: 100px;
  line-height: 100px;
  margin-right: 80px;
}
.order-box ul > li ul .order-box-info a:hover {
  color: #33CA97;
}
.order-box-name {
  width: 160px;
}
.order-box-pay {
  float: left;
  height: 100px;
  line-height: 100px;
  margin-right: 0;
}
.order-box-pay a {
  display: block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  color: #fff;
  background: #33CA97;
  margin: 30px 0;
}
.collection-box {
  width: 800px;
  height: 190px;
  position: relative;
  overflow: hidden;
  margin: 40px auto;
}
.collection-box:hover .collection-btn {
  display: block;
}
.collection-box ul {
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 300ms all linear;
}
.collection-box ul li {
  float: left;
  width: 200px;
  height: 180px;
  box-sizing: border-box;
  padding: 10px;
}
.collection-box ul li:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transform: scale(1.05);
  z-index: 999;
}
.collection-box ul li a {
  display: block;
  width: 180px;
  border: 1px solid #f0f0f0;
  transition: all 0.3s ease;
  padding-top: 10px;
}
.collection-box ul li a img {
  width: 160px;
  height: 120px;
}
.collection-box ul li a p {
  font-size: 18px;
  color: red;
  height: 35px;
  line-height: 35px;
}
.collection-btn {
  display: none;
}
.collection-btn a {
  position: absolute;
  top: 40%;
}
#col-btn-left {
  left: 0;
}
#col-btn-right {
  left: 97%;
}
