* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #F8F6F6;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
ul,
li {
  text-align: center;
}
button,
input {
  outline: none;
}
.btn-style {
  text-align: center;
  background: #33CA97;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
.input-style {
  display: block;
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.personnav-header {
  min-width: 1200px;
  height: 100px;
  background: #33CA97;
  color: #fff;
}
.personnav-header a {
  color: #fff;
}
.person-box {
  width: 1060px;
  margin: 0 auto;
  height: 100px;
}
.person-logo {
  width: 160px;
  text-align: center;
  margin-top: 12px;
  float: left;
}
.person-logo img {
  width: 100px;
}
.person-logo h6 {
  font-size: 12px;
}
.person-top-nav {
  height: 100px;
  line-height: 100px;
  float: left;
  margin-left: 100px;
  font-size: 25px;
}
.person-search {
  height: 100px;
  line-height: 100px;
  float: left;
  margin-left: 340px;
  position: relative;
}
.person-search span {
  position: absolute;
  top: 0;
  left: 235px;
  display: block;
  color: #000;
  font-size: 20px;
}
.person-search input {
  outline: none;
  display: block;
  width: 200px;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 33px;
}
.person-car {
  float: left;
  height: 100px;
}
.person-car a {
  position: relative;
  display: block;
  height: 100px;
}
.personnav-section ul,
li {
  text-align: center;
}
.personnav-section {
  width: 160px;
  margin: 0 100px 0;
}
.personnav-section nav {
  width: 160px;
  background: #fff;
  margin: 20px 0;
}
.personnav-section nav ul {
  margin-top: 2%;
}
.personnav-section nav ul li {
  width: 160px;
  height: 50px;
  line-height: 50px;
}
.personnav-section nav ul li:hover {
  background: rgba(51, 202, 151, 0.8);
}
.personnav-section nav ul li a:hover {
  color: #fff;
}
.personnav-li-before {
  background: #fff;
}
.personnav-li-after {
  background: rgba(51, 202, 151, 0.8);
}
.personnav-li-a-before {
  color: #000;
}
.personnav-li-a-after {
  color: #fff;
}
.cart-icon {
  font-size: 30px !important;
  line-height: 100px;
}
.cart-icon-all {
  width: 30px;
}
.cart-icon-all,
.cart-mn {
  float: left;
}
.cart-mn {
  margin-top: 20px;
  position: relative;
}
.cart-mn .car-msg {
  font-size: 25px !important;
}
.cart-mn .car-num {
  position: absolute;
  top: 17%;
  left: 34%;
  color: #9a9a9b;
  font-size: 14px;
}
