@import "demo";
a{
    color: @col4;
    display: block;
}
.personmsg-edit-head{
    width: 62%;
    padding: @pad2;
    background: @col1;
    margin-left: 285px;
    margin-top: 20px;
}
h2{
    padding: @pad2;
    border-bottom: 1px solid @col9;
    margin-left: @fon3;
}
.btn-style {
    text-align: center;
    border-radius: @fon8;
    color: @col7;
}
.personmsg-edit-head-box{
    height: 540px;
    padding: @pad4;
}
#c1,#c2,#c3{
    border: 1px solid @col9;
    background: @col9;
}
.personmsg-edit-head-big{
    float: left;
    padding-right: 70px;
    border-right: 1px solid @col9;
    position: relative;
    button{
        width: 100px;
        height: 30px;
        border: @col6;
        background: @col9;
        margin-left: 100px;
        margin-top: 20px;
    }
}
.personmsg-edit-head-look{
    padding-left: 70px;
    h5{
        margin-bottom: 20px;
    }
    float: left;
    div{
        margin-top: 30px;
        h5{
            font-weight: lighter;
        }
    }
}
#uploadimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
}
.personmsg-edit-head-info{
    margin-top: 20px;
    ul{
        width: 300px;
        margin-top: 10px;
        li{
            float: left;
            margin: 2px;
            img{
                width: 55px;
                margin-right: 16px;
            }
        }
    }

}
//裁剪工具
.personmsg-edit-head-mask{
    width: 200px;
    height: 200px;
    background: @bgcol3;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    //display: none;
}
